on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: EKS - Build, Scan and Deploy

jobs:
  deploy:
    name: EKS - Build, Scan and Deploy
    runs-on: ubuntu-latest
    
    permissions:
      contents: 'read'
      id-token: 'write'
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    # Prisma Cloud Code Security Scan
    - name: Prisma Cloud Code Security Scan
      id: checkov
      uses: bridgecrewio/checkov-action@master
      env:
        PRISMA_API_URL: ${{ secrets.PCCS_CONSOLE_URL }}
      with:
        api-key: ${{ secrets.PCC_USER }}::${{ secrets.PCC_PASS }}
        use_enforcement_rules: true
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: ${{ secrets.AWS_REGION }}
       
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
        
    # Build the Docker image
    - name: Build the image 
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.REPO_NAME }}
        IMAGE_TAG: ${{ github.sha }}
      run: |
        # Build a docker container and push it to ECR 
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
    
    # Prisma Cloud Image Security Scan
    - name: Prisma Cloud Image Scan
      id: scan
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.REPO_NAME }}
        IMAGE_TAG: ${{ github.sha }}
      uses: PaloAltoNetworks/prisma-cloud-scan@v1.4.0
      with:
        pcc_console_url: ${{ secrets.PCC_CONSOLE_URL }}
        pcc_user: ${{ secrets.PCC_USER }}
        pcc_pass: ${{ secrets.PCC_PASS }}
        image_name: ${{ steps.login-ecr.outputs.registry }}/${{ secrets.REPO_NAME }}:${{ github.sha }}
      
    # Push the Docker image to Amazon ECR
    - name: Tag and Push the image to Amazon ECR
      id: push-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.REPO_NAME }}
        IMAGE_TAG: ${{ github.sha }}
      run: |
        echo "Pushing image to ECR..."
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        
    - name: Set up kubeconfig
      run: |-
        if [ -z "${{ secrets.AWS_EKS_NAME }}" ]
        then
          mkdir ~/.kube
          echo ${{ secrets.KUBE_CONFIG_DATA }} | base64 -d > ~/.kube/config
        else
          aws eks update-kubeconfig --name ${{ secrets.AWS_EKS_NAME }}
        fi
        
    - name: Set up aws-iam-authenticator
      run: |-
        curl -Lo aws-iam-authenticator https://github.com/kubernetes-sigs/aws-iam-authenticator/releases/download/v0.5.9/aws-iam-authenticator_0.5.9_linux_amd64
        chmod +x ./aws-iam-authenticator
        mv aws-iam-authenticator /usr/local/bin
        
    - name: Deploy to Kubernetes cluster
      run: |-
        kustomize create --resources eks-deployment.yml
        kustomize edit set image "demo-image-name=${{ steps.login-ecr.outputs.registry }}/${{ secrets.REPO_NAME }}:${{ github.sha }}"
        cat kustomization.yaml
        kustomize build . | kubectl apply -f - --validate=false
        kubectl get pods -o wide
        
